<c-row>
  <c-col sm="6" xl="3">
    <c-widget-stat-a class="mb-4" color="primary" title="{{ totalProduits}}">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        Total produits

      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart class="mt-3 mx-3" height="70" [type]="'line'"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>


  <c-col sm="6" xl="3">
    <c-widget-stat-a title="{{ totalcategories}}" class="mb-4" color="danger">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span> Total categories</span>
      </ng-template>

      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart class="mt-3 mx-3" height="70" type="bar"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>
<c-row>
  <c-col xs>

    <c-card class="mb-4">
      <c-card-header>Listes des produits
      </c-card-header>
      <c-card-body>

        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr>

              <th>Nom produit</th>
              <th>Prix</th>
              <th>Date Creation</th>
              <th>Image</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produit of data; index as i">


              <td>
                <div>{{ produit.nomProduits }}</div>

              </td>
              <td>
                <div>{{ produit.prixProduits }}</div>

              </td>
              <td>
                <div>{{ produit.dateCreation}}</div>

              </td>
              <td><img class="card-img-top img-responsive" src="{{produit.imageStr}}" style="height :50px;width:100px">
              </td>

              <td>
                <a [routerLink]="['/produits/update',produit.idProduits]"><svg [cIcon]="icons.cilPen" size="xl"
                    title="pen"></svg></a>
                <a (click)="supprimerProduit(produit)"><svg [cIcon]="icons.cilTrash" size="xl" title="trash"></svg></a>

              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>