<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Users</c-card-header>
      <c-card-body>

        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr>

              <th>Nom produit</th>
              <th class="text-center">Prix</th>
              <th>Date Creation</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produit of data; index as i">


              <td>
                <div>{{ produit.nomProduits }}</div>
                <div class="small text-medium-emphasis text-nowrap">

                </div>
              </td>
              <td>
                <div>{{ produit.prixProduits }}</div>
                <div class="small text-medium-emphasis text-nowrap">

                </div>
              </td>
              <td>
                <div>{{ produit.dateCreation}}</div>
                <div class="small text-medium-emphasis text-nowrap">

                </div>
              </td>
              <td><img class="card-img-top img-responsive" src="{{produit.imageStr}}" style="height :50px;width:100px">
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
